@if (data.action === 'create') {
<h2>Crear Héroe</h2>
} @else {
<h2>Actualizar Héroe</h2>
}

<div class="form-container">
  <form [formGroup]="heroForm" (ngSubmit)="submitForm()">
    <div class="form-container__inputs">
      <mat-form-field class="example-form-field">
        <mat-label>Nombre</mat-label>
        <input
          appUpperCase
          matInput
          id="heroName"
          type="text"
          formControlName="heroName"
          maxlength="16"
        />
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Descripción</mat-label>
        <input
          matInput
          id="heroDescription"
          type="text"
          formControlName="heroDescription"
          maxlength="32"
        />
      </mat-form-field>
    </div>
    <div class="form-container__buttons">
      @if (data.action === 'create') {
      <button [disabled]="!heroForm.valid" type="submit" mat-raised-button>
        Crear
      </button>
      } @else {
      <button [disabled]="!heroForm.valid" type="submit" mat-raised-button>
        Actualizar
      </button>

      }
      <button type="button" (click)="cancel()" mat-raised-button>
        Cancelar
      </button>
    </div>
  </form>
</div>
