@import "colors";

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    margin-bottom: 20px;
  }
}

.example-container {
  &__example-table-container {
    position: relative;
    min-height: 200px;
    height: calc(100vh - 320px);
    overflow: auto;
  }
}

.actions-header-cell,
.actions-cell {
  text-align: right;

  &__actions {
    display: flex;
    justify-content: end;
    gap: 16px;
  }
}
