@import "colors";

html,
body {
  height: 100%;
  background-color: $background;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-display-medium,
.mat-typography .mat-display-medium,
.mat-typography h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 16px;
}
